body {
}

.carousel {
    width:0px;

}

.carousel-root {
    height: 100%;
    opacity: 50%;
}

.carousel-slider {
    width: 100%;
    height: 100%;
}

.control-dots {
    visibility:hidden;
}

.control-arrow {
    visibility: hidden;
}

.carousel-status {
    visibility: hidden;
}

.NavWhite {
    background-color: white;
}

.Gradient {
    margin-top: -1em;
    position: absolute;
    width: 100%;
    height: auto;
    background: linear-gradient(13deg, rgba(2, 0, 36, 1) 0%, rgba(7, 7, 96, 1) 35%, rgba(0, 212, 255, 0.35057773109243695) 100%);
}

.indFront {
    position: relative;
}

#root {
    position: relative;
    overflow: hidden;
    background: linear-gradient(13deg, rgba(2, 0, 36, 1) 0%, rgba(7, 7, 96, 1) 35%, rgba(0, 212, 255, 0.35057773109243695) 100%);
}

.jss73 {
    height: 100%;
}

.jss167 {
    height: auto;
}

.imageList {
    width: 100%;
    height: auto; 
    display: flex;
    flex-Wrap: wrap;
    justify-Content: space-around;
}

.image {
    cursor: pointer;
    max-Height: 300px;
    width: auto;
    height: 100%;
    transform: translateY(0%);
    left:0%;
}
.imageModal {
    max-Width: 80%;
    max-Height:80%;
}

.imageModalwdth {
    width: 100%;
}

.media {
    height: 0;
    padding-Top: 56.25%;
}

.expand {
    transform: rotate(0deg);
    margin-Left: auto;
}

.expandOpen {
    transform: rotate(180deg);
}

.Card {
    margin-bottom: .5em;
}

.carousel {
    position: inherit;
    width: 100%;
    background-color: lightslategray;
}
.visually-hidden {
    visibility:hidden;
}

.carousel-item {
    height: 100%;
    width: auto;
    z-index: 6;
    display: contents;
}

.Rating {
    color: salmon;
    display: flex;
}

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}